.LastNews--Container {
    background-color: #fff;
}

.LastNews--Coontainer__NewsList {
    display: flex;
    gap: 2.083vw
}
.LastNews--Coontainer__NewsList--NewsBig {
    display: flex;
    flex-direction: column;
    width: 36.458vw;
    height: 28.125vw;
    box-shadow: 0 80px 80px rgba(154, 156, 165, 0.08);
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
}
.LastNews--Coontainer__NewsList--NewsBig img {
    height: 18.75vw;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}
.LastNews--Coontainer__NewsList--NewsBig h2 {
    font-size: 1.042vw;
}
.LastNews--Coontainer__NewsList__Content {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.042vw;
    padding: 0.833vw;
}
.LastNews--Coontainer__NewsList__Content div {
    display: flex;
    gap: 0.625vw;
}



.LastNews--Coontainer__NewsList--News {
    display: flex;
    flex-direction: column;
    width: 26.042vw;
    height: 13.021vw;
    box-shadow: 0 80px 80px rgba(154, 156, 165, 0.08);
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
}
.LastNews--Coontainer__NewsList--News h2 {
    text-align: start;
    font-size: 1.042vw;
}
.LastNews--Coontainer__NewsList--News img {
    height: 8.125vw;
    object-fit: cover;
    border-radius: 0.417vw 0.417vw 0.417vw 0.417vw;
}
.LastNews--Coontainer__NewsList--Mini {
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
}