.Service--Container {

    background-color: #c4c4c4;
}

.Service--Container--Block {
    display: flex;
    justify-content: space-around;
    width: 64.063vw;
}
.Service--Container--Block__Item {
    display: flex;
    flex-direction: column;
    grid-area: 20px;
    justify-content: center;
    align-items: center;
    width: 19.792vw;
    height: 13.281vw;
    background-color: #fff;
    border-radius: 0.208vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    gap: 2.083vw;
}
.Service--Container--Block__More {
    display: flex;
    gap: 2.083vw;
}
.Service--Container--Block__More h2 {
    font-weight: 700;
    font-size: 1.458vw;
}
.Service--Container--Block__More button {
    background-color: var(--accent--color);
    color: #fff;
    padding: 0.625vw;
    border-radius: 0.208vw;
}
.Service--Container--Block__Item img {
    width: 2.708vw;
    height: 2.708vw;
}