.HeroSlider{
    display: flex;
}
.HeroSlider--Container{
    justify-content: center;
    display: flex;
    background-image: url(../../Assets/Images/bg-image.svg);
    width: 100%;
    height: 900px;
}
.HeroSlider--Container__Center{
    justify-content: center;
    width: 66%;
    height: auto;
    background-color: black;
    align-self: center
}
.HeroSlider--Container__Center__Glav{
    font-weight: bold;
    color: white;
    font-size:80px;
}
.HeroSlider--Container__Center__text{
    font-weight: bold;
    color: white;
    font-size:26px;
}